<!doctype html>
<html>
<head>
    <title>45 Says</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous"> 
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">    
    <link rel="shortcut icon" href="favicon.ico">  
    <link rel="stylesheet" href="45.css">
    <link href="https://fonts.googleapis.com/css?family=Nunito" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Nunito:200normal" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Nunito:300normal" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Nunito:400normal" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Nunito:600normal" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Nunito:700normal" rel="stylesheet">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.js"></script>
    <script src="//code.jquery.com/jquery.min.js"></script>
    <script src="quotes.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.7.0/moment.min.js" type="text/javascript"></script>
</head>

<body>

<!--Navigation-->
    <div class="row">
        <div class="col-sm-12 sticky-nav-container">
            <h6 style="text-align: center;">
                <a href="#">HOME</a>
                <a style="margin-left: 2%;" href="/charities.html">CHARITIES</a>
            </h6>
        </div>
        <div class="col-sm-12">
            <h1 style="text-align: center">
                <span style="font-family: Courier New; font-weight: 700; color: #FF596E">45</span>
                <span style="font-family: Courier New; font-weight: 700; margin-left: -.2%;">Says</span><br>
                <img src="/images/signature.png" alt="Donald Trump" style="height: 35px; width: 85px; float: right; margin-right: 39%;">
                <!--<img style="margin-bottom: .2%; margin-left: -.2%" src="/images/speechIcon.svg" width="30" height="40">-->
            </h1>
        </div>
    </div>
<!--Explanation-->
    <div class="pull-right col-sm-2">
        <div class="faq">
                <p style="font-size: 14px; font-family: Helvetica-Bold; letter-spacing: 0.02em">Click an organization's name to donate.</p>
                <p style="letter-spacing: 0.001em; font-family: Courier New; font-size: 13px">This will take you directly to the site’s donation page, to ensure it goes to the right place. </p>
                <p style="font-size: 14px; font-family: Helvetica-Bold; letter-spacing: 0.02em">Why these charities?</p>
                <p style="letter-spacing: 0.001em; font-family: Courier New; font-size: 13px">According to <a style="font-weight: 600;" href="https://www.charitywatch.org/about-charitywatch/faq/3113/3115#charity_selection">CharityWatch.org</a>,they are the highest rated organizations.</p>
        </div>
    </div>    
<!--Main section-->
<div class="padded-multiline">
    <h2><span style="margin-left: 1.5%; box-shadow: 1px 1px 2px -1px rgba(0,0,0,0.35);">Tremendous Charitable<br>Organizations
        </span>
    </h2>
</div>

<div class="row">
    <div style="margin-top: 3em;" class="col-sm-5 col-sm-offset-1 card">
        <div id="charityHeader">
            <h5 style="font-weight: 600;">ANIMALS<img style="margin: -3px 0 0 10px;" src="/images/dogIcon.svg"></h5>
        </div>
        <hr>
            <div id="charityName">
                <h6 style="font-family: Helvetica; font-weight: 600;">AMERICAN HUMANE
                </h6>
            </div>
                <div id="charityInfo">
                <div style="font-size: 13px; font-family: Courier New; margin-left: 4%">Founded in 1877, American Humane is committed to ensuring the safety, welfare and well-being of animals.
                </div>
            <div id="charityName">
                <h6 style="font-family: Helvetica; font-weight: 600;">Animal Welfare Institute
                </h6>
            </div>
                <div style="font-size: 13px; font-family: Courier New; margin-left: 4%">Since 1951, the Animal Welfare Institute has been dedicated to reducing animal suffering caused by people.
                </div> 
             <div id="charityName">
                <h6 style="font-family: Helvetica; font-weight: 600;">PetSmart Charities
                </h6>
            </div>
                <div style="font-size: 13px; font-family: Courier New; margin-left: 4%">More than 400,000 dogs and cats find homes each year through their adoption programs.
                </div>
        </div>
    </div>
    <div style="margin-top: 3em;" class="col-sm-5 col-sm-offset-1 card">
            <div id="charityHeader">
                    <h5 style="font-weight: 600">CIVIL RIGHTS<img style="margin: -3px 0 0 10px;" src="/images/gavelIcon.svg">
                    </h5>
            </div>
            <hr/>
                <div id="charityName">
                    <h6 style="font-family: Helvetica; font-weight: 600;">AMERICAN HUMANE
                    </h6>
                </div>
                    <div id="charityInfo">
                        <div style="font-size: 13px; font-family: Courier New; margin-left: 4%">Founded in 1877, American Humane is committed to ensuring the safety, welfare and well-being of animals.
                        </div>
                        <div style="font-size: 13px; font-family: Courier New; font-weight: bold; margin-left: 2%">Animal Welfare Institute</strong>
                        </div>
                        <div style="font-size: 13px; font-family: Courier New; margin-left: 4%">Since 1951, the Animal Welfare Institute has been dedicated to reducing animal suffering caused by people.
                        </div> 
                        <div style="font-size: 13px; font-family: Courier New; font-weight: bold; margin-left: 2%">  PetSmart Charities</strong>
                        </div>
                        <div style="font-size: 13px; font-family: Courier New; margin-left: 4%">More than 400,000 dogs and cats find homes each year through their adoption programs.
                        </div>
            </div>
        </div>
    <div style="margin-top: 3em;" class="col-sm-5 col-sm-offset-1 card">
        <div id="charityName">
            <h5 style="font-weight: 600;">ENVIRONMENT<img style="margin: -3px 0 0 10px;" src="/images/treeIcon.svg"></h5>
        </div>
            <hr>
        <div id="charityHeader">
        </div>    
    </div>
    <div style="margin-top: 3em;"class="col-sm-5 col-sm-offset-1 card">
        <div id="charityHeader">
            <h5 style="font-weight: 600;">VETERANS & MILITARY<img style="margin: -3px 0 0 10px;" src="/images/starIcon.svg"></h5>
        </div>
            <hr>
    </div>
</div>
</div>
</body>
</html>