    body{
        font-family: "Nunito";
        font-size: 15px;
        background: #FBFBFB;
        letter-spacing: .2px;
        color: #4A4A4A;
}

    h1 {
        font-size: 2em;
        letter-spacing: .2px;
}

    h2 {
        font-size: 1.75em;
        letter-spacing: .2px;
}

    h3 {
        font-size: 1.5em;
        letter-spacing: .2px;
}

    h4 {
        font-size: 1.15em;
        font-weight: 600;
        letter-spacing: .2px;
}

    h5 {
        font-size: .75em;
        font-weight: 200;
        letter-spacing: .2px;
}

    a {
        color: black;
        font-weight: 600;
        text-decoration: none !important;
}

	 .card-deck {
	    max-width:100%;
	    padding-left: 2.5%;
	    padding-right: 2.5%;
	    padding-top: 10px;
	   	margin: 0 auto;
		float: none;
}
 
	 .card-encasing {
	    float: left;
	    max-width: "30vw" ;
	    max-height: "20vw" ;
	    min-width: 430px;
	    min-height: 280px;
	    margin-right: 2.5%;
	    margin-left: 2.5%;
	    margin-top: 10px;
	    margin-bottom: 10px;
	    background-color: #ffffff;
	    opacity: 0.3;
	    padding: 10px;
	    border: solid 0.5px #d6d6d6;
	 	box-shadow: 0.5px 1px 2px 0 rgba(0, 0, 0, 0.5);
 }

 	.patient-name {
 		font-size: 1em;

}

	.avatar {
		height:
		width;
}

	.card-graph{
		float: left;

}

	.other-vitals {

}

	.recent-vital {

}

	.severity-label {
		
}