<div class="row card-block-profile">
    <div class="col-sm-3">
        <div style="display:inline-block; margin: 1%; width: 20%;">
                                    <h4 style="font-weight: 800; color:#4A4A4A;">John Smith</h4>
                                    <div style="margin-top: 1%; width: 100%;">
                                        <div class="profile-container">
                                            <h5><strong>BORN</strong></h5><h5>Jan 1, 1959</h5>
                                            <h5><strong>BED</strong></h5><h5>14.1</h5>   
                                        </div>
                                    </div>
                                </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div style="display:inline-block; margin: 1%; width: 20%;">
                                    <h4 style="font-weight: 800; color:#4A4A4A;">John Smith</h4>
                                    <div style="margin-top: 1%; width: 100%;">
                                        <div class="profile-container">
                                            <h5><strong>BORN</strong></h5><h5>Jan 1, 1959</h5>
                                            <h5><strong>BED</strong></h5><h5>14.1</h5>   
                                        </div>
                                    </div>
                                </div>
        </div>
    </div>
    <div class="col-sm-2">
        <a href="#" class="button button-primary">Contact Patient</a>
    </div>  
</div>